<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/menu_quiz.css}">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a th:href="@{/home}" class="logo"><span class="cifrao">$</span><span class="p">implifica</span><span
                    class="ed">Educação Financeira</span></a>
            <ul class="nav-links">
                <li class="nav-item"><a th:href="@{/menu-quiz}">Quiz</a></li>
                <li class="nav-item"><a th:href="@{/ranking}">Ranking</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="container">
            <img th:src="@{/img/semfundotransparente.png}" alt="">
            <h1>Vamos começar? Escolha um tema abaixo...</h1>

            <div th:each="t: ${tipo}">                
                <a th:href="@{/*(id=${t.id})}" th:text="${t.descricao}"></a>
            </div>

            <!--
            <div th:each="t: ${tipoQuestao}">
                <div class="divQuiz1">
                    <a th:href="@{/usuario}" class="financas">Fundamentos Básicos</a>
                    <a th:href="@{/usuario}" class="tesouro">Tesouro Direto</a>
                </div>
                <div class="divQuiz2">
                    <a th:href="@{/usuario}" class="acoes">Ações</a>
                    <a th:href="@{/usuario}" class="cripto">Criptomoeda</a>
                </div>
            </div>
            -->
        </div>

    </section>
    <footer class="footer">
        <small>Copyright &copy; Your Website</small>
    </footer>
</body>

</html>